* {
  padding: 0;
  margin: 0;
}
body {
  background: #f5f5f5;
  color: #333;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
}
a {
  color: #333;
  text-decoration: none;
}
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
.clearfix::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

.el-form-item {
  margin-bottom: 15px;
}
.el-select__caret {
  width: 20px;
  font-size: 12px;
}
.el-select-dropdown__item {
  padding: 0 10px;
}
.el-input__suffix {
  right: 2px;
}
.el-input__inner {
  padding-right: 0 !important;
  padding-left: 5px;
  height: 32px;
}
.el-select {
  width: 60px;
}
.el-input {
  font-size: 12px;
}
.el-menu.el-menu--horizontal {
  border-bottom: 0;
}
.w {
  width: 982px;
  margin: 0 auto;
}
.el-input__inner:focus {
  border-color: #c0c4cc !important;
}
.el-pagination {
  display: inline-block;
}
.btn-next,
.btn-prev {
  width: 71px !important;
  height: 26px !important;
  margin: 0 1px 0 2px !important;
  border: 1px solid #ccc !important;
  border-radius: 2px !important;
  background: url('../uploads/button.png') no-repeat !important;
  span {
    height: 26px;
    line-height: 26px !important;
  }
}
.btn-prev {
  text-indent: 5px;
  background-position: 0 -560px !important;
}
.btn-prev[disabled] {
  background-position: 0 -621px !important;
}
.btn-next {
  text-indent: -5px !important;
  background-position: -75px -560px !important;
}
.btn-next[disabled] {
  background-position: -75px -620px !important;
}

.number {
  height: 24px !important;
  padding: 0 8px !important;
  line-height: 24px !important;
  background-color: #fff !important;
  margin: 0 1px 0 2px !important;
  display: inline-block !important;
  border: 1px solid #ccc !important;
  border-radius: 2px !important;
  font-weight: normal !important;
  min-width: 0 !important;
}
.number:hover {
  border-color: #666 !important;
  color: #333 !important;
}
.el-pager .active {
  background: url('../uploads/button.png') no-repeat 0 -650px !important;
  border-color: #a2161b !important;
  color: #fff !important;
}
.el-pager .more {
  height: 24px !important;
  border: 1px solid #ccc !important;
  line-height: 22px !important;
}
.more::before {
  color: #000 !important;
  line-height: 0 !important;
}
